language: node_js
sudo: enabled
node_js:
  - "8"
before_script:
  - happywork-node-builder test --coveralls
script:
  - npm run build
after_script:

cache:
  directories:
  - node_modules

deploy:
  - provider: npm
    skip_cleanup: true
    email: heifade@126.com
    api_key: $NPM_TOKEN
    on:
      branch: master
      repo: heifade/fs-i
  - provider: pages
    skip_cleanup: true
    github_token: $GITHUB_TOKEN
    local_dir: docs
    on:
      branch: master

